openapi: "3.0.3"
info:
  title: "critica_backend API"
  description: "critica_backend API"
  version: "1.0.0"
servers:
- url: "https://critika.net"
  description: "Production server"
- url: "http://localhost:8080"
  description: "Development server"
paths:
  /api/health:
    get:
      description: "Healthy application"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "string"
              examples:
                Example#1:
                  value: "Healthy"
  /api/admin/users/{userId}/promote:
    post:
      security:
        - bearerAuth: []
      tags:
        - "Admin"
      description: "Promote user to host"
      parameters:
      - name: "userId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "string"
              examples:
                Example#1:
                  value: "User promoted to host"
  /api/admin/users/{userId}/reject:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "Admin"
      description: "Reject user promotion"
      parameters:
      - name: "userId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "string"
              examples:
                Example#1:
                  value: "User promotion rejected"
  /api/admin/users/requesting-promotion:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Admin"
      description: "See users requesting promotion"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/UserResponse"
  /api/auth/register:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "Auth"
      description: "Register a new user"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUser"
        required: true
  /api/auth/signIn:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "Auth"
      description: "Sign in as a user"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignIn"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
  /api/auth/userExists:
    post:
      tags:
        - "Auth"
      description: "Check if user exists"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Exists"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "string"
  /api/club/{id}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "Get club by id"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClubResponse"
  /api/club/{id}/createLobby:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "Create a lobby in a club"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "date"
        in: "query"
        required: true
        schema:
          type: "string"
          format: "date-time"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LobbyResponse"
  /api/club/{id}/games:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "Get games in a club"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/GameResponse"
  /api/club/{id}/join:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "Join a club"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClubResponse"
  /api/club/{id}/leave:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "Leave a club"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClubResponse"
  /api/club/{id}/lobbies:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "See lobbies in a club"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/LobbyResponse"
  /api/club/{id}/members:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "See members in a club"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/UserResponse"
  /api/club/{id}/rating:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "See club rating"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingResponse"
  /api/club/{id}/rating/day/{day}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "See club rating for a day"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "day"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingResponse"
  /api/club/{id}/rating/month/{month}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "See club rating for a month"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "month"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingResponse"
  /api/club/{id}/rating/season:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "See club rating for a season"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "week"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingResponse"
  /api/club/{id}/rating/year/{year}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "See club rating for a year"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "year"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingResponse"
  /api/club/{id}/update:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "Update club info"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClub"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClubResponse"
  /api/club/create:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "Create a club"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClub"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClubResponse"
  /api/club/list:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Club"
      description: "Get list of clubs"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/ClubResponse"
  /api/game/{id}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Game"
      description: "Get game by id"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/game/{id}/addBonus/{seat}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Add bonus to player by seat"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "seat"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "object"
  /api/game/{id}/addFoul/{seat}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Add foul to player by seat"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "seat"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "object"
  /api/game/{id}/addOPW/{seat}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Add opposite party win to game by seat"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "seat"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/game/{id}/addPlayer:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Game"
      description: "Add player to game by name"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "playerName"
        in: "path"
        required: true
        schema:
          type: "string"
  /api/game/{id}/addPlayer/{playerId}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Game"
      description: "Add player to game by id"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "playerId"
        in: "path"
        required: true
        schema:
          type: "string"
  /api/game/{id}/finish:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "Game"
      description: "Finish game by id"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "string"
                enum:
                - "CITIZEN"
                - "MAFIA"
                - "DON"
                - "DETECTIVE"
  /api/game/{id}/host/{hostId}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Game"
      description: "Assign host to game by id"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "hostId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/game/{id}/removePlayer/{playerId}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Game"
      description: "Remove player from game by id"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "playerId"
        in: "path"
        required: true
        schema:
          type: "string"
  /api/game/{id}/start:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "Game"
      description: "Start game"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "object"
  /api/game/{id}/startDay/{day}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Start day"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "day"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/game/{id}/startNight/{night}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Start night"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "night"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/game/list:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Game"
      description: "Get all games"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/GameResponse"
  /api/lobby/{id}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Get lobby by id"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LobbyResponse"
  /api/lobby/{id}/addGame:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Add game to lobby"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LobbyResponse"
  /api/lobby/{lobbyId}/addPlayer:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Add player by name to lobby"
      parameters:
      - name: "lobbyId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LobbyResponse"
  /api/lobby/{lobbyId}/addPlayer/{playerId}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Add player to lobby"
      parameters:
      - name: "lobbyId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "playerId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LobbyResponse"
  /api/lobby/{lobbyId}/addTemporaryPlayer:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Add temporary player"
      parameters:
      - name: "lobbyId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "playerName"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LobbyResponse"
  /api/lobby/{id}/delete:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Delete lobby"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "204":
          description: "No Content"
          content:
            application/json:
              schema:
                type: "object"
  /api/lobby/{id}/games:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Get games in lobby"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/GameResponse"
  /api/lobby/{id}/players:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Get players in lobby"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/PlayerResponse"
  /api/lobby/{id}/removeGame/{gameId}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Remove game from lobby"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "gameId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LobbyResponse"
  /api/lobby/{id}/removePlayer:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Remove player from lobby"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "playerName"
        in: "query"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LobbyResponse"
  /api/lobby/{id}/removePlayer/{playerId}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Remove player from lobby"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "playerId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LobbyResponse"
  /api/lobby/list:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Lobby"
      description: "Get all lobbies"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/LobbyResponse"
  /api/player:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Player"
      description: "Get current player info"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerResponse"
  /api/player/{id}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Player"
      description: "Get player by id"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerResponse"
  /api/player/{name}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Player"
      description: "Get player by name"
      parameters:
      - name: "name"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerResponse"
  /api/player/enterGame/{id}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Player"
      description: "Enter game"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "object"
  /api/player/enterLobby/{id}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Player"
      description: "Enter lobby"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "object"
  /api/player/leaveGame:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Player"
      description: "Leave current game"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "object"
  /api/player/leaveLobby/{id}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Player"
      description: "Leave lobby"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "object"
  /api/stage/{id}/bestMove/{seat}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Assign best move to player"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "seat"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/stage/{nightId}/detective/{seat}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Detective checks"
      parameters:
      - name: "nightId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "seat"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/stage/{nightId}/don/{seat}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Don checks for detective"
      parameters:
      - name: "nightId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "seat"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/stage/{stageId}/finish:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Finish stage"
      parameters:
      - name: "stageId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/stage/{stageId}/next:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Next stage"
      parameters:
      - name: "stageId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/stage/{dayId}/nominate/{candidate}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Nominate candidate for voting"
      parameters:
      - name: "dayId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "candidate"
        in: "path"
        required: true
        schema:
          type: "integer"
          format: "int32"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/stage/{stageId}/prev:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Previous stage"
      parameters:
      - name: "stageId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/stage/{dayId}/remove/{candidate}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Remove candidate from voting"
      parameters:
      - name: "dayId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "candidate"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/stage/{nightId}/shot/{seat}:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Shot candidate"
      parameters:
      - name: "nightId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "seat"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameResponse"
  /api/stage/{dayId}/vote:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "GameProcess"
      description: "Vote for candidate"
      parameters:
      - name: "dayId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "candidate"
        in: "query"
        required: true
        schema:
          type: "integer"
          format: "int32"
      - name: "voter"
        in: "query"
        required: true
        schema:
          type: "integer"
          format: "int32"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/GameResponse"
  /api/tournament/{id}/join:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Tournament"
      description: "Join tournament"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TournamentResponse"
  /api/tournament/{id}/leave:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Tournament"
      description: "Leave tournament"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TournamentResponse"
  /api/tournament/{id}/lobbies:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Tournament"
      description: "Load tournament lobbies"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/LobbyResponse"
  /api/tournament/{id}/members:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Tournament"
      description: "Load tournament members"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/PlayerResponse"
  /api/tournament/{id}/rating:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Tournament"
      description: "Load tournament rating table"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingResponse"
  /api/tournament/{id}/update:
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - "Tournament"
      description: "Update tournament"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTournament"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TournamentResponse"
  /api/tournament/create:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "Tournament"
      description: "Create tournament"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTournament"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TournamentResponse"
  /api/tournaments/list:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "Tournament"
      description: "Get a list of tournaments"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/TournamentResponse"
  /api/user/role:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "User"
      description: "Get current user's role"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "string"
  /api/user/settings:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "User"
      description: "Get user settings"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
  /api/user/settings/change-language:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "User"
      description: "Change language"
      requestBody:
        content:
          application/json:
            schema:
              type: "string"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
  /api/user/settings/change-public-visibility:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "User"
      description: "Change public visibility"
      requestBody:
        content:
          application/json:
            schema:
              type: "boolean"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
  /api/user/settings/change-push-notifications:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "User"
      description: "Change push notifications settings"
      requestBody:
        content:
          application/json:
            schema:
              type: "boolean"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
  /api/user/settings/request-promotion:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - "User"
      description: "Request promotion to host"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
  /api/user/statistics:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - "User"
      description: "Get user statistics"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingResponse"
components:
  schemas:
    UserResponse:
      type: "object"
      properties:
        id:
          type: "string"
        playerName:
          type: "string"
        email:
          type: "string"
    CreateUser:
      type: "object"
      properties:
        playerName:
          type: "string"
        email:
          type: "string"
    CreateTournament:
      type: "object"
      properties:
        name:
          type: "string"
        description:
          type: "string"
        startDate:
          type: "string"
        location:
          type: "string"
        playerLimit:
          type: "integer"
          format: "int32"
        creatorId:
          type: "string"
        clubId:
          type: "string"
    UpdateTournament:
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        description:
          type: "string"
        startDate:
          type: "string"
        location:
          type: "string"
        playerLimit:
          type: "integer"
          format: "int32"
        clubId:
          type: "string"
    CreateClub:
      type: "object"
      properties:
        name:
          type: "string"
        description:
          type: "string"
        country:
          type: "string"
        city:
          type: "string"
        address:
          type: "string"
        creatorId:
          type: "string"
        ruleSet:
          type: "string"
        logo:
          type: "string"
    UpdateClub:
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        description:
          type: "string"
        country:
          type: "string"
        city:
          type: "string"
        address:
          type: "string"
        ruleSet:
          type: "string"
        logo:
          type: "string"
    SignIn:
      type: "object"
      properties:
        email:
          type: "string"
    Exists:
      type: "object"
      properties:
        email:
          type: "string"
    PlayerResponse:
      type: "object"
      properties:
        id:
          type: "string"
        seat:
          type: "integer"
          format: "int32"
        name:
          type: "string"
        role:
          type: "string"
          enum:
          - "CITIZEN"
          - "MAFIA"
          - "DON"
          - "DETECTIVE"
        status:
          type: "string"
          enum:
          - "WAITING"
          - "INGAME"
          - "ALIVE"
          - "DEAD"
          - "REMOVED"
          - "OPW"
        inGame:
          type: "boolean"
        bestMove:
          type: "integer"
          format: "int32"
        bonusPoints:
          type: "integer"
          format: "int32"
    StageResponse:
      type: "object"
      anyOf:
        - $ref: "#/components/schemas/DayStageResponse"
        - $ref: "#/components/schemas/NightStageResponse"
    DayStageResponse:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "DAY"
        dayNumber:
          type: "integer"
          format: "int32"
        candidates:
          type: "array"
          items:
            $ref: "#/components/schemas/PlayerResponse"
        votes:
          type: "array"
          items:
            $ref: "#/components/schemas/DayVoteResponse"
    NightStageResponse:
      type: "object"
      properties:
        dayNumber:
          type: "integer"
          format: "int32"
        mafiaShot:
          $ref: "#/components/schemas/PlayerResponse"
        detectiveCheck:
          $ref: "#/components/schemas/PlayerResponse"
        donCheck:
          $ref: "#/components/schemas/PlayerResponse"
    DayVoteResponse:
      type: "object"
      properties:
        dayNumber:
          type: "integer"
          format: "int32"
        target:
          $ref: "#/components/schemas/PlayerResponse"
        player:
          $ref: "#/components/schemas/PlayerResponse"
    GameResponse:
      type: "object"
      properties:
        id:
          type: "string"
        date:
          type: "string"
        host:
          $ref: "#/components/schemas/PlayerResponse"
        players:
          type: "array"
          items:
            $ref: "#/components/schemas/PlayerResponse"
        currentStage:
          $ref: "#/components/schemas/StageResponse"
        nominates:
          type: "array"
          items:
            $ref: "#/components/schemas/PlayerResponse"
        votes:
          type: "array"
          items:
            $ref: "#/components/schemas/DayVoteResponse"
        mafiaShot:
          $ref: "#/components/schemas/PlayerResponse"
        detectiveCheck:
          $ref: "#/components/schemas/PlayerResponse"
        donCheck:
          $ref: "#/components/schemas/PlayerResponse"
        playersEliminated:
          type: "array"
          items:
            $ref: "#/components/schemas/PlayerResponse"
        bestMove:
          type: "array"
          items:
            $ref: "#/components/schemas/PlayerResponse"
    LobbyResponse:
      type: "object"
      properties:
        id:
          type: "string"
        club:
          type: "string"
        date:
          type: "string"
        creator:
          $ref: "#/components/schemas/UserResponse"
        games:
          type: "array"
          items:
            $ref: "#/components/schemas/GameResponse"
        players:
          type: "array"
          items:
            $ref: "#/components/schemas/PlayerResponse"
    ClubResponse:
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        creator:
          $ref: "#/components/schemas/UserResponse"
        members:
          type: "array"
          items:
            $ref: "#/components/schemas/UserResponse"
        lobbies:
          type: "array"
          items:
            $ref: "#/components/schemas/LobbyResponse"
        games:
          type: "array"
          items:
            $ref: "#/components/schemas/GameResponse"
        createdAt:
          type: "string"
        updatedAt:
          type: "string"
        country:
          type: "string"
        city:
          type: "string"
        address:
          type: "string"
        logo:
          type: "string"
        description:
          type: "string"
        ruleSet:
          type: "string"
    RoleResponse:
      type: "object"
      properties:
        role:
          type: "string"
        gamesWon:
          type: "integer"
          format: "int32"
        gamesTotal:
          type: "integer"
          format: "int32"
        bonusPoints:
          type: "integer"
          format: "int32"
    RatingResponse:
      type: "object"
      properties:
        userId:
          type: "string"
        totalPoints:
          type: "integer"
          format: "int32"
        bonusPoints:
          type: "integer"
          format: "int32"
        malusPoints:
          type: "integer"
          format: "int32"
        bestMovePoints:
          type: "integer"
          format: "int32"
        roleStatistics:
          type: "array"
          items:
            $ref: "#/components/schemas/RoleResponse"
    TournamentResponse:
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        date:
          type: "string"
        clubId:
          type: "string"
        creator:
          $ref: "#/components/schemas/UserResponse"
        playerLimit:
          type: "integer"
          format: "int32"
        location:
          type: "string"
        description:
          type: "string"
        players:
          type: "array"
          items:
            $ref: "#/components/schemas/PlayerResponse"
        lobbies:
          type: "array"
          items:
            $ref: "#/components/schemas/LobbyResponse"
        games:
          type: "array"
          items:
            $ref: "#/components/schemas/GameResponse"
    UserSettingsResponse:
      type: "object"
      properties:
        id:
          type: "string"
        publicVisibility:
          type: "boolean"
        pushNotificationsEnabled:
          type: "boolean"
        language:
          type: "string"
        promoted:
          type: "boolean"
    Error:
      type: "object"
      properties:
        status:
          type: "integer"
          format: "int32"
          example: 400
        message:
          type: "string"
          description: "A description of the error."
          example: "Invalid ID"
      required:
        - "status"
        - "message"
  responses:
    201:
      description: "The resource was successfully created"
      schema:
        type: "object"
        properties:
          status:
            type: "integer"
            format: "int32"
            example: 201
          message:
            type: "string"
            description: "A description of the successful creation."
            example: "OK"
        required:
          - "status"
          - "message"
    204:
      description: "The resource was successfully updated"
      schema:
        type: "object"
        properties:
          status:
            type: "integer"
            format: "int32"
            example: 204
        required:
          - "status"
    400:
      description: "Malformed data or otherwise invalid request"
      schema:
        $ref: "#/components/schemas/Error"
    404:
      description: "The requested component was not found"
      schema:
        $ref: "#/components/schemas/Error"
    500:
      description: "An internal server error occurred"
      schema:
        $ref: "#/components/schemas/Error"
    403:
      description: "The user does not have the required permissions to access this resource"
      schema:
        $ref: "#/components/schemas/Error"
    401:
      description: "The user is not authenticated"
      schema:
        $ref: "#/components/schemas/Error"